<div>
    <tr *ngFor="let e of employees">
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.salary}}</td>
        <td><button class="btn btn-danger" title="delete employees" (click)="delete(task)">Delete</button></td>
    </tr>

    <tr>
    <td> <input [(ngModel)]="newEmployee.firstName" class="form-control" placeholder="first name"></td>
    <td> <input [(ngModel)]="newEmployee.lastName" class="form-control" placeholder="last name"></td>
    <td> <input [(ngModel)]="newEmployee.salary" type="number" class="form-control" placeholder="salary"></td>
    <button (click)="addEmployee()" class="btn btn-success btn-sm btn-block">ADD EMPLOYEE</button>
    </tr>
</div>